#div1{
    background-color: cyan;
    height:400px;
    width:400px;
    margin-left:400px;
}

@media (max-width: 1000px) and (min-width: 750px)
{
    #div1{
        background-color: lightgreen;
    }
}

@media (max-width:750px)
{
    #div1{
        background-color: gray;
    }
}