<!DOCTYPE html>
<html>
    <head>
        <title>Mysql Expresss</title>
    </head>
    <body>
        <h3>Add the Person</h3>
        <form method="POST" action="./add">
            <input type="number" name="id" placeholder="id">
            <br>
            <input tyep="text" name="name"placeholder="Name">
            <br>
            <input type="number" name="age" placeholder="Age">
            <br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>